$mobile-size: 425px;
$gap: 10px;
$nav-max-width: 800px;
$toast-z-index: 9999;
$tab-z-index: 1000;
$avatar-z-index: 1000;
$user-info-card-z-index: 999;
$fullScreen-z-index: 2000;
$user-post-toggle-z-index: 200;
$user-list-widget-z-index: 300;
$post-text-line: 7;
