@use './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Gill Sans';
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: var(--theme-select-color);
}

svg {
  fill: var(--theme-svg-color);
  transition: all 0.3s ease;
}

body {
  background-color: var(--theme-color);
  transition: all 0.3s ease;
}

.icon {
  width: 32px;
  height: 32px;
}
