@use './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  // font-family: 'Gill Sans';
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--theme-scrollbar-thumb-color);
  cursor: pointer;
}

::selection {
  background-color: var(--theme-select-color);
}

svg {
  fill: var(--theme-svg-color);
  transition: all 0.3s ease;
}

body {
  background-color: var(--theme-color);
  transition: all 0.3s ease;
}

.icon {
  width: 32px;
  height: 32px;
}

a:focus-visible,
button:focus-visible,
.tab-focus-style.post-card:focus-visible,
.tab-focus-style.back:focus-visible,
.tab-focus-style:focus-visible,
.tab-focus-style.toggle-btn:focus-visible,
.tab-focus-style.image:focus-visible {
  outline: none;
  transition: all 0.3s ease;
  box-shadow:
    0 0 0 3px var(--theme-nav-color),
    0 0 0 7px var(--theme-tag-active-color);
  border-radius: 6px;
}

.tab-focus-outline-style:focus-visible {
  outline: none;
  outline: 5px solid var(--theme-tag-active-color);
}

#app {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  transition: all 0.3s ease;
}

.del-img {
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.5;
  }
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

a {
  color: var(--theme-font-color);
}

.img-loading {
  position: relative;
  overflow: hidden;
  background-color: var(--theme-img-loading-color, #eee);
}
