# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# other
desktop.ini
.env.production
.env.electron.production

# images
apps/backend_deprecated/uploads/*
!apps/backend_deprecated/uploads/default/
!apps/backend_deprecated/uploads/default/**

apps/backend/uploads/*
!apps/backend/uploads/default/
!apps/backend/uploads/default/**

# uniapp
unpackage

# electron
release

# e2e
test-results
storageState.json
