.layout {
  height: 100vh;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--theme-colors);
  display: flex;

  .left {
    width: 260px;
    flex-shrink: 0;
    transition: width 0.3s ease;

    @media (max-width: $layout-media-size) {
      width: 52px;
    }

    .header {
      padding-left: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      height: 60px;

      .p {
        font-weight: bold;
        font-size: 20px;

        @media (max-width: $layout-media-size) {
          display: none;
        }
      }
    }

    .main {
      .ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .li {
          padding-left: 10px;
          height: 52px;
          width: 200px;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          overflow: hidden;
          cursor: pointer;

          @media (max-width: $layout-media-size) {
            width: 52px;
          }
        }

        .active {
          background-color: var(--theme-chat-item-bg-hover-color);
        }
      }
    }
  }

  .right {
    padding-right: 5px;
    width: 100%;

    .header {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 14px;

      .avatar {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .main {
      padding: 10px;
      width: calc(100% - 5px);
      height: calc(100vh - 80px);
      overflow: hidden;
    }
  }
}
