$gap: 10px;
$nav-max-width: 800px;
$toast-z-index: 9999;
$tab-z-index: 1000;
$avatar-z-index: 1000;
$user-info-card-z-index: 999;
$fullScreen-z-index: 2000;
$user-post-toggle-z-index: 200;
$user-list-widget-z-index: 300;
$share-box-z-index: 500;
$post-text-line: 7;

$theme-dark-color: rgb(0, 0, 0);
$theme-dark-shadow-color: 0 0 10px rgba(255, 255, 255, 0.3);
$theme-dark-svg-color: rgb(255, 255, 255);
$theme-dark-font-color: rgb(255, 255, 255);
$theme-dark-nav-color: rgb(0, 0, 0);
$theme-dark-select-color: rgba(255, 255, 255, 0.4);
$theme-dark-tag-active-color: rgb(115, 109, 106);
$theme-dark-button-color: rgb(255, 255, 255);
$theme-dark-button-hover-color: rgb(255, 214, 192);
$theme-dark-post-card-color: rgb(0, 0, 0);
$theme-dark-avatar-widget-color: rgb(0, 0, 0);
$theme-dark-img-loading-color: rgba(177, 177, 177, 0.137);
$theme-dark-send-button-color: rgb(88, 88, 88);
$theme-dark-send-button-hover-color: rgb(81, 81, 81);
$theme-dark-scrollbar-thumb-color: rgb(78, 77, 77);
$theme-dark-textarea-bg-color: rgb(78, 77, 77);
$theme-dark-avatar-widget-hover-color: rgb(78, 77, 77);
$theme-dark-chat-item-bg-color: rgb(0, 0, 0);
$theme-dark-chat-item-bg-hover-color: rgba(88, 86, 86, 0.482);
$theme-dark-chat-speech-bubble-color: rgb(56, 56, 56);

$theme-light-color: rgb(255, 255, 255);
$theme-light-shadow-color: 0 0 10px rgba(156, 164, 172, 0.3);
$theme-light-svg-color: rgb(0, 0, 0);
$theme-light-font-color: rgb(0, 0, 0);
$theme-light-nav-color: rgb(255, 255, 255);
$theme-light-select-color: rgba(0, 0, 0, 0.2);
$theme-light-tag-active-color: rgb(255, 214, 192);
$theme-light-button-color: rgb(255, 214, 192);
$theme-light-button-hover-color: rgb(233, 185, 160);
$theme-light-post-card-color: rgb(255, 255, 255);
$theme-light-avatar-widget-color: rgb(255, 214, 192);
$theme-light-img-loading-color: rgba(177, 177, 177, 0.137);
$theme-light-send-button-color: rgb(255, 214, 192);
$theme-light-send-button-hover-color: rgb(233, 185, 160);
$theme-light-scrollbar-thumb-color: rgb(255, 214, 192);
$theme-light-textarea-bg-color: rgb(255, 238, 228);
$theme-light-avatar-widget-hover-color: rgb(233, 185, 160);
$theme-light-chat-item-bg-color: rgba(255, 233, 221, 0.482);
$theme-light-chat-item-bg-hover-color: rgb(255, 236, 225);
$theme-light-chat-speech-bubble-color: rgb(255, 214, 192);
